# =========================================================================
# RECIPE APPLICATION DEVELOPMENT ENVIRONMENT TEMPLATE
# Instructions: Copy this file to '.env.dev' and fill in your local values.
# =========================================================================

# postgres db conigs
POSTGRES_DB=enter_postgres_db_name_here
POSTGRES_USER=enter_db_postgres_user_name_here
POSTGRES_PASSWORD=enter_secure_db_password_here


# django backend configs
DEBUG=True
SECRET_KEY=enter_a_secure_random_string_here
DB_NAME=enter_db_name_here
DB_USER=enter_db_user_name_here
DB_PASSWORD=enter_secure_db_password_here
DB_HOST=recipie-app-db
DB_PORT=5432
